@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* paleta de colores
    #1995AD
    #A1D6E2
    #F1F1F2
 */
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif
}

body{
    background: #F1F1F2;
    color: #1995AD;
}

.menu1{
    background: #1b3039 ;
    justify-content: space-between;
}

.menu1 a.nav-item.nav-link {
    font-size: 700;
    color:  #ffffff;
    text-decoration: none;

}

#parrafo{
    color: rgb(5, 33, 215);
}


.container1{
    font: small-caps 100%/200% serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

.col-md-4{
    color: black;
}

.img-libro{
    width: 245px; 
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
}

.img-libro:hover{
    transform: scale(1.1);
    transition: 1s;
}

.boton-vm{
    text-align: center;
    margin-top: 20px;
}

#logo{
    width: 80px;
    margin-left: 10px;
}


/* menu de pie de pagina*/
.container01{
    width: 90%;
    margin: 0 auto;
    display: flex;
}



.texto1{
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
}
.cuadro1{
    border-radius: 10px;
    min-height: 200px;
    color: black;
}

.form.d-flex{
    color: blueviolet;
}


.nav-links{
    list-style: none;
    cursor: pointer;
}

.nav-links li{
    display:  inline-block;
    padding: 0 20px;
}
.nav-links li:hover{
    transform:  scale(1.1);
}
.nav-links a{
    font-size: 700;
    color:  #ffffff;
    text-decoration: none;
}
.nav-links li a:hover{
    color: #ffbc0e;
}

.Logo img{
    width: auto;
    transition: all 0.3s;
}

.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b3039;
    padding: 17;
}

.logo{
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

.listas {
    display: inline-block;
    color: #fff;
    padding: 6px;
    font-weight: bold;
    transition: .3s ease;
}


.listas a{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
    transition: .3s ease;
}

.listas:hover{
    color: rgb(255, 230, 0);
}

.listas >a:hover{
    color:  rgb(255, 230, 0);
}

.img_nosotros{
    text-align: center;
}

#img_nosotros{
    width: 200px;
}