@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* paleta de colores
    #1995AD
    #A1D6E2
    #F1F1F2
 */
*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif
}

body{
    background: #F1F1F2;
    color: #1995AD;
}

.menu1{
    background: #1b3039 ;
    justify-content: space-between;
}

.menu1 a.nav-item.nav-link {
    font-size: 700;
    color:  #ffffff;
    text-decoration: none;

}

#parrafo{
    color: rgb(5, 33, 215);
}


.container1{
    font: small-caps 100%/200% serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

.col-md-4{
    color: black;
}

.img-libro{
    width: 245px; 
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
}

.img-libro:hover{
    transform: scale(1.1);
    transition: 1s;
}

.boton-vm{
    text-align: center;
    margin-top: 20px;
}

#logo{
    width: 80px;
    margin-left: 10px;
}


/* menu de pie de pagina*/
.container01{
    width: 90%;
    margin: 0 auto;
    display: flex;
}



.texto1{
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
}
.cuadro1{
    border-radius: 10px;
    min-height: 200px;
    color: black;
}

.form.d-flex{
    color: blueviolet;
}


.nav-links{
    list-style: none;
    cursor: pointer;
}

.nav-links li{
    display:  inline-block;
    padding: 0 20px;
}
.nav-links li:hover{
    transform:  scale(1.1);
}
.nav-links a{
    font-size: 700;
    color:  #ffffff;
    text-decoration: none;
}
.nav-links li a:hover{
    color: #ffbc0e;
}

.Logo img{
    width: auto;
    transition: all 0.3s;
}

.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b3039;
    padding: 17;
}

.logo{
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

.listas {
    display: inline-block;
    color: #fff;
    padding: 6px;
    font-weight: bold;
    transition: .3s ease;
}


.listas a{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
    transition: .3s ease;
}

.listas:hover{
    color: rgb(255, 230, 0);
}

.listas >a:hover{
    color:  rgb(255, 230, 0);
}

.img_nosotros{
    text-align: center;
}

#img_nosotros{
    width: 300px;
}

/* Seccion Galeria de Fotos*/

.swiper{
    width: 100%;
    padding-top: 150px 0 50 0;
}

.swiper-slide{
    width: 400px;
    height: 600px;
    background-color: #3d5965;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px 20px 20px 20px
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.icons i {
    font-size: 20px;
    color: #000000;
}

.icons img{
    width: 120px;
}

.product-content{
    display: flex;
    justify-content: space-between;
}

.product-txt{
    flex-basis: 50%;
    text-align: left;
}

.product-txt span{
    font-size: 25px;
    color: #000000;
    font-weight: bold;
}

.product-txt h3{
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.product-txt p{
    font-size: 14px;
    color: #c4c4c4;
}

.product-img{
    flex-basis: 50%;
    text-align: right;
}

.product-img img{
    width: 170px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 55px;
    border: 1px solid #000000;
    border-radius: 25px;
    color: #000000;
    text-decoration: none;
    margin-top: 50px;
}

/* carga de inicio*/

.loader {
    --background: linear-gradient(135deg, #23C4F8, #275EFE);
    --shadow: rgba(39, 94, 254, 0.28);
    --text: #6C7486;
    --page: rgba(255, 255, 255, 0.36);
    --page-fold: rgba(255, 255, 255, 0.52);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: relative;
  }
  
  .loader:before, .loader:after {
    --r: -6deg;
    content: "";
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 0 16px 12px var(--shadow);
    transform: rotate(var(--r));
  }
  
  .loader:before {
    left: 4px;
  }
  
  .loader:after {
    --r: 6deg;
    right: 4px;
  }
  
  .loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
  }
  
  .loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  .loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    transform: rotateY(var(--r));
    -webkit-animation: var(--duration) ease infinite;
    animation: var(--duration) ease infinite;
  }
  
  .loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    -webkit-animation-name: page-2;
    animation-name: page-2;
  }
  
  .loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    -webkit-animation-name: page-3;
    animation-name: page-3;
  }
  
  .loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    -webkit-animation-name: page-4;
    animation-name: page-4;
  }
  
  .loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    -webkit-animation-name: page-5;
    animation-name: page-5;
  }
  
  .loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
  }
  
  .loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
  }
  
  .loader div ul li:last-child {
    --o: 1;
  }
  
  .loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
  }
  
  @keyframes page-2 {
    0% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    20% {
      opacity: 1;
    }
  
    35%, 100% {
      opacity: 0;
    }
  
    50%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-3 {
    15% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    35% {
      opacity: 1;
    }
  
    50%, 100% {
      opacity: 0;
    }
  
    65%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-4 {
    30% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    65%, 100% {
      opacity: 0;
    }
  
    80%, 100% {
      transform: rotateY(0deg);
    }
  }
  
  @keyframes page-5 {
    45% {
      transform: rotateY(180deg);
      opacity: 0;
    }
  
    65% {
      opacity: 1;
    }
  
    80%, 100% {
      opacity: 0;
    }
  
    95%, 100% {
      transform: rotateY(0deg);
    }
  }
  
.carga{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hidden{
    overflow: hidden;
}


/*Seccion REdes*/

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #7c97a8;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #252323;
  color: #fff;
}



/*IMAGEN NOSOTROS*/

.img_nosotros {
  overflow: hidden; /* Para evitar que la imagen sobresalga del contenedor */
}

.img_nosotros img {
  transition: opacity 0.5s, transform 0.5s; /* Define las propiedades que cambiarán y el tiempo de transición */
  opacity: 0.5; /* Define la opacidad inicial de la imagen */
  transform: scale(0.5); /* Inicialmente la imagen está encogida */
}

.img_nosotros:hover img {
  opacity: 1; /* Aparece la imagen al pasar el ratón sobre el contenedor */
  transform: scale(1); /* Agranda la imagen al pasar el ratón sobre el contenedor */
}