{% extends "base.html" %}

{% load static %}

{% block titulo  %} Sobre nosotros {% endblock %}

{% block contenido  %} 

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
        />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <img src="images/logo.png" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>$100</span>
                        <h3>Hamlet</h3>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Sint rerum earum repellat voluptate voluptates! Tempore sint eum, 
                            exercitationem quia unde nesciunt rerum blanditiis quos eveniet dolor ipsam dolore quod ullam?
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="https://i.pinimg.com/564x/86/c4/18/86c418d579feffbc642512a454c6aca8.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">comprar</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <img src="images/logo.png" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>$20.00</span>
                        <h3>El principito</h3>
                        <p>
                            El Principito, protagonista de la historia, es un niño muy singular que habita en un asteroide lejano, y que en su inocencia es portador de una gran sabiduría.
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="https://i.pinimg.com/564x/07/35/21/073521bc3531a89801d4e238ed6a77ee.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">comprar</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <img src="images/logo.png" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>$70</span>
                        <h3>The Night Ocean</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Voluptates, dolorem beatae. Sapiente iusto minima nam soluta quis neque similique? 
                            Provident omnis mollitia corrupti nostrum veritatis laboriosam voluptatibus, 
                            cupiditate quo nulla?
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="https://i.pinimg.com/564x/4e/a3/07/4ea307f6fd5d10cba9ca7906fe9ad2de.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">comprar</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <img src="images/logo.png" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>$43.00</span>
                        <h3>La Peste</h3>
                        <p>
                            La peste es una enfermedad infecciosa causada por Yersinia pestis, una bacteria zoonótica que suele encontrarse en pequeños mamíferos y en las pulgas que los parasitan
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="https://i.pinimg.com/564x/36/b1/b6/36b1b62cd8580ffcf3dd351d3d15c237.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">comprar</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <img src="images/logo.png" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>$80</span>
                        <h3>La Galaxia y luego yo</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Voluptates, dolorem beatae. Sapiente iusto minima nam soluta quis neque similique? 
                            Provident omnis mollitia corrupti nostrum veritatis laboriosam voluptatibus, 
                            cupiditate quo nulla?
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="https://i.pinimg.com/564x/3c/eb/19/3ceb195e3f2b7c466c26b56b8da22606.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">comprar</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <img src="images/logo.png" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>$120</span>
                        <h3>Frankenstein</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Voluptates, dolorem beatae. Sapiente iusto minima nam soluta quis neque similique? 
                            Provident omnis mollitia corrupti nostrum veritatis laboriosam voluptatibus, 
                            cupiditate quo nulla?
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="https://i.pinimg.com/564x/8f/c0/ea/8fc0eaf59c6b4481ba9305e98d36ca28.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">comprar</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <img src="images/logo.png" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>$34.00</span>
                        <h3>Belleza Oscura</h3>
                        <p>
                            Alayna Novak, de ojos angelicales y lengua afilada, tiene las manos manchadas de la sangre de otros. Sabe que es un instrumento mortal, que su encanto es parte de su trampa
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="https://i.pinimg.com/564x/cc/29/50/cc2950af7fdb06433e0da0ed445d5ce3.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">comprar</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <img src="images/logo.png" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>$85</span>
                        <h3>Kafka</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Voluptates, dolorem beatae. Sapiente iusto minima nam soluta quis neque similique? 
                            Provident omnis mollitia corrupti nostrum veritatis laboriosam voluptatibus, 
                            cupiditate quo nulla?
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="https://i.pinimg.com/564x/9b/17/a1/9b17a1a353be95a684c42989650621de.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">comprar</a>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <img src="images/logo.png" alt="">
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-txt">
                        <span>$60</span>
                        <h3>Macbeth</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Voluptates, dolorem beatae. Sapiente iusto minima nam soluta quis neque similique? 
                            Provident omnis mollitia corrupti nostrum veritatis laboriosam voluptatibus, 
                            cupiditate quo nulla?
                        </p>
                    </div>
                    <div class="product-img">
                        <img src="https://i.pinimg.com/564x/e6/6b/54/e66b54ae6dbf26154cd388cbfe587983.jpg" alt="">
                    </div>
                </div>
                <a href="#" class="btn-1">comprar</a>
            </div>

        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        loop: true,
        coverflowEffect: {
            depth:500,
            modifer:1,
            slidesShadows: true,
            rotate:0,
            stretch:0
        }

    })

</script>

</body>
</html>

{% endblock %}