{% extends "base.html" %}
    
{% load static %}

{% block titulo  %} Inicio {% endblock %}

{% block contenido  %} 

<h1>{{ inicio }}</h1>

<!--<img src="{% static 'ejemploimg.png' %}" class="img-1" alt="">-->
<div class="container1">
<h1>Libros ramdom</h1> 
<!--<img class="img-libro" src="https://marketplace.canva.com/EAFutLMZJKs/1/0/1003w/canva-portada-libro-novela-suspenso-elegante-negro-wxuYB_sJtMw.jpg" alt="">-->
<img class="img-libro" src="https://marketplace.canva.com/EAE7WfA-TJs/1/0/1003w/canva-portada-de-libro-de-estilo-antiguo-con-ornamentos-ilustrativo-kraft-negro-kmOtgbHqDW0.jpg" alt="">
<img class="img-libro" src="https://marketplace.canva.com/EADtusoKCao/1/0/1024w/canva-portada-de-libro-thriller-con-foto-de-bosque-monocrom%C3%A1tico-Z1-mCsBJ2Ys.jpg" alt="">
<img class="img-libro" src="https://marketplace.canva.com/EAEwT_-17t8/1/0/1024w/canva-monocrom%C3%A1tico-suspenso-portada-para-wattpad-MbOOs4SoFkw.jpg" alt="">
</div>

<div class="boton-vm">
    <a
        name=""
        id=""
        class="btn"
        href="{% url 'libros' %}"
        role="button"
        >Ver mas </a>
</div>
        
{% endblock %}