<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}

      <div class="mb-3">
        <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}:</label>
            {% if campo.field.widget.input_type == "select" %}
                {{ campo }}
            {% else %}
           
            <input
                type="{{ campo.field.widget.input_type }}"
                class="form-control"
                name="{{ campo.name }}"
                id="{{ campo.id_for_label }}"
                aria-describedby="helpId"
                placeholder="{{ campo.label }}"
                value="{{ campo.value | default:'' }}"
                />
            {% endif %}
            <small id="helpId" class="form-text text-muted"></small>
        </div>
        <div class="col-12 help-text"> {{campo.errors}} </div>

    {% endfor %}

    <input
        name=""
        id=""
        class="btn btn-success"
        type="submit"
        value="Enviar informacion"
    />
    
    <a
        name=""
        id=""
        class="btn btn-primary"
        href="{% url 'catalogo' %}"
        role="button"
        >Cancelar</a
    >
    

</form>