{% load static %}
<!doctype html>
<html lang="es">
    <head>
        <title>{% block titulo  %} Gestlibapp {% endblock %} </title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="icon" type="image/png" href="/static/icon.png">
    <script src="https://kit.fontawesome.com/ff162028a7.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="navegacion">
            <h1 class="logo">
                <img id="logo"src="https://i.pinimg.com/736x/e5/a5/f5/e5a5f5dfdc9936de67526d4ee5fb771e.jpg" class="rounded">
            </h1>
    
            <nav>
                <ul>
                    <li class="listas"><i class="fa-solid fa-house"></i><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li class="listas"><i class="fa-solid fa-book"></i><a href="{% url 'libros' %}">Libros</a></li>
                    <li class="listas"><i class="fa-solid fa-handshake"></i><a href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li class="listas"><i class="fa-solid fa-shop"></i><a href="#">Catálogo</a></li>
                    
                </ul>
                
            </nav>
            <form class="d-flex">
                <input class="form-control" type="Buscar" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form> 
        </div>
    </div>
        
        <div class="container"></div>
            <div class="row"></div>
                <div class="col-12"></div>
                    {% block contenido  %}  {% endblock %}
                <div>
            </div>
        <div>
        </header>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>

        <div class="container01">
                <div class="row">
                    <div class="col-md-4">
                        <div class="cuadro1">
                            <div class="texto1">
                                <h6><b>Información</b></h6>
                                <p>En que GestLib nos dedicamos a facilitar el acceso y la gestión eficiente de recursos bibliográficos para comunidades diversas desde estudiantes ávidos de conocimiento hasta profesionales que buscan información especializada</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cuadro1">
                            <div class="texto1">
                                <h6><b>Servicio al cliente</b></h6>
                                <p>Atención amable y respetuosa</p>
                                <p>Respuesta rápida</p>
                                <p>Resolución de problemas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cuadro1">
                            <div class="texto1">
                                <h6><b>Contáctanos</b></h6>
                                <p>jrestrepocano@gmail.com</p>
                                <p>juandavid.moreno240@gmail.com <3</p>
                                <p>sebasagudelom31@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>   
        </div>
    </body>
</html>
